<app-page-header pageTitle="Listagem de Clientes">
  <button class="btn btn-primary" (click)="newClient()">Novo Cliente</button>
</app-page-header>

<sb-loading-data *ngIf="isLoading; else list">
</sb-loading-data>
<ng-template #list>
  <table class="table shadow-sm p-3 mb-5">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Nascimento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers; index as i">
        <th>{{customer.customerId}}</th>
        <td>{{customer.name}}</td>
        <td>{{customer.birthDate | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</ng-template>